.ui.custom-button {
    background-image: linear-gradient(to bottom, #060910, #162125, #060910) !important;
    color: white !important;
    border: 2px solid #6f8586 !important;
    transition: all 0.3s ease-in-out;
}

.ui.custom-button:hover {
    border-color: #a6bdbe !important;
    background-image: linear-gradient(to bottom, #162125, #1f2d30, #162125) !important;
}