
.heading {
    font-size: 1.7rem; /* Default to phone size */
  }
  
  /* Tablet styles */
  @media (min-width: 768px) {
    .heading {
      font-size: 4rem; /* Tablet size */
    }
  }
  
  /* Computer styles */
  @media (min-width: 1024px) {
    .heading {
      font-size: 7rem; /* Computer size */
    }
  }

  
.subheading {
    font-size: 1.2rem; /* Default to phone size */
  }
  
  /* Tablet styles */
  @media (min-width: 768px) {
    .subheading {
      font-size: 1rem; /* Tablet size */
    }
  }
  
  /* Computer styles */
  @media (min-width: 1024px) {
    .subheading {
      font-size: 1.5rem; /* Computer size */
    }
  }
  
  