.feature-heading {
  font-family: 'Railway', sans-serif;
  font-weight: 600;
  color: white;
  margin: 0;
  text-align: left;
  font-size: 1.3rem;
  margin-bottom: 2%;
}

/* For tablet */
@media only screen and (min-width: 768px) {
  .feature-heading {
    font-size: 1.4rem;
    margin-bottom: 2%;
  }
}

/* For computer */
@media only screen and (min-width: 992px) {
  .feature-heading {
    font-size: 1.5rem;
    margin-bottom: 2%;
  }
}

.feature-text {
  font-family: 'Railway', sans-serif;
  font-weight: 500;
  color: #b3b1c4;
  margin: 0;
  text-align: left;
  line-height: 1.2;
}

.feature-text {
  font-size: 1rem;
  margin-top: 0;
}

@media only screen and (min-width: 768px) {
  .feature-text {
    font-size: 1.1rem;
    margin-top: 0;
  }
}

@media only screen and (min-width: 992px) {
  .feature-text {
    font-size: 1.1rem;
    margin-top: 0;
  }
}

.feature-container {
  background-color: #1f1f21;
  padding: 3%;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.feature-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin-left: 2%;
  margin-right: 2%;
}

.feature-column {
  flex: 1;
  display: flex;
}

.feature-content {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .feature-container {
    padding: 2%;
  }
}
