/* Define the font styles */
.heading {
  font-family: 'Railway', sans-serif;
  font-weight: 800; /* Extra bold */
  color: white;
  margin: 0;
  line-height: 1;
}

/* Default for mobile */
.heading {
  font-size: 60px;
  text-align: center;
}

/* For tablet */
@media only screen and (min-width: 768px) {
  .heading {
    font-size: 64px;
  }
}

/* For computer */
@media only screen and (min-width: 992px) {
  .heading {
    font-size: 82px;
    text-align: left;
  }
}

/* Subheading styles */
.subheading {
  font-family: 'Railway', sans-serif;
  font-weight: 500; /* Medium */
  color: white;
  margin: 0;
  text-align: center;
}

/* Default for mobile */
.subheading {
  font-size: 18px;
}

/* For tablet */
@media only screen and (min-width: 768px) {
  .subheading {
    font-size: 18px;
  }
}

/* For computer */
@media only screen and (min-width: 992px) {
  .subheading {
    font-size: 17.6px;
    text-align: left;
  }
}
